<div style="height: 700px; width: 100%; background-image: url(https://images.shiksha.com/mediadata/images/1552457480php6LZTsx.jpeg); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed;">
<div class="container">
{{#if success_message}}
    <div class="alert alert-success" role="alert">
        {{success_message}}
    </div>
{{/if}}
<h1>User Home</h1>

<h3>Complaints Posted by You......</h3>
<br>

{{#if complaint}}
	<table class="table table-bordered" style="background-color: white;">
		<thead>
			<th>Title</th>
			<th>Category</th>
			<th>Importance</th>
			<th>Status</th>
			<th>Location</th>
			{{!-- <th>Description</th> --}}
			<th>Posted by</th>
			<th>Date of Creation</th>
			<th>Date of Submission</th>
		</thead>
		<tbody>
			{{#each complaint}}
				<tr>
					<td>{{title}}</td>
					<td>{{category.name}}</td>
					<td>{{importance}}</td>
					<td>{{status}}</td>
					<td>{{room}}, {{floor}}, {{building}}</td>
					{{!-- <td>{{description}}</td> --}}
					<td>{{user}}</td>
					<td>{{generateTime date 'MMMM Do YYYY'}}</td>
					<td>{{submitDate}}</td>
					<td><a href="/home/complain/{{_id}}"><button class="btn btn-outline-info">View</button></a></td>
					{{#ifEquality status 'Completed'}}<td><form action="/home/{{_id}}?_method=DELETE" method="post"><button class="btn btn-outline-primary">Satisfied</button></form></td>{{/ifEquality}}
				</tr>
			{{/each}}
		</tbody>
	</table>

{{else}}

	<h4>No Complaints were posted by you.....</h4>
{{/if}}

<br>
</div>
</div>


